pip install aiohttp==3.9.5
pip install aiosignal==1.3.1
pip install altair==5.3.0
pip install annotated-types==0.7.0
pip install anyio==4.4.0
pip install appdirs==1.4.4
pip install argon2-cffi==23.1.0
pip install argon2-cffi-bindings==21.2.0
pip install arrow==1.3.0
pip install arxiv==2.1.3
pip install asttokens==2.4.1
pip install async-lru==2.0.4
pip install attrs==23.2.0
pip install babel==2.15.0
pip install beautifulsoup4==4.12.3
pip install bleach==6.1.0
pip install blinker==1.8.2
pip install cachetools==5.3.3
pip install certifi==2024.2.2
pip install cffi==1.16.0
pip install charset-normalizer==3.3.2
pip install chromedriver-autoinstaller==0.6.4
pip install click==8.1.7
pip install comm==0.2.2
pip install contourpy==1.2.1
pip install cssselect==1.2.0
pip install cycler==0.12.1
pip install dataclasses-json==0.6.6
pip install datasets==2.20.0
pip install debugpy==1.8.1
pip install decorator==5.1.1
pip install defusedxml==0.7.1
pip install deprecated==1.2.14
pip install dill==0.3.8
pip install dirtyjson==1.0.8
pip install distro==1.9.0
pip install executing==2.0.1
pip install fastjsonschema==2.19.1
pip install feedfinder2==0.0.4
pip install feedparser==6.0.11
pip install filelock==3.15.1
pip install fonttools==4.53.1
pip install fqdn==1.5.1
pip install frozenlist==1.4.1
pip install fsspec==2024.5.0
pip install gitdb==4.0.11
pip install gitpython==3.1.43
pip install google-api-core==2.19.1
pip install google-api-python-client==2.137.0
pip install google-auth==2.32.0
pip install google-auth-httplib2==0.2.0
pip install google-auth-oauthlib==1.2.1
pip install googleapis-common-protos==1.63.2
pip install greenlet==3.0.3
pip install grpcio==1.64.1
pip install grpcio-tools==1.64.1
pip install h11==0.14.0
pip install h2==4.1.0
pip install hpack==4.0.0
pip install html2text==2024.2.26
pip install httpcore==1.0.5
pip install httplib2==0.22.0
pip install httpx==0.27.0
pip install huggingface-hub==0.23.4
pip install hyperframe==6.0.1
pip install idna==3.7
pip install ipykernel==6.29.4
pip install ipython==8.24.0
pip install ipywidgets==8.1.3
pip install isoduration==20.11.0
pip install jedi==0.19.1
pip install jieba3k==0.35.1
pip install jinja2==3.1.4
pip install joblib==1.4.2
pip install json5==0.9.25
pip install jsonpatch==1.33
pip install jsonpointer==2.4
pip install jsonschema==4.22.0
pip install jsonschema-specifications==2023.12.1
pip install jupyter==1.0.0
pip install jupyter-client==8.6.2
pip install jupyter-console==6.6.3
pip install jupyter-core==5.7.2
pip install jupyter-events==0.10.0
pip install jupyter-lsp==2.2.5
pip install jupyter-server==2.14.0
pip install jupyter-server-terminals==0.5.3
pip install jupyterlab==4.2.1
pip install jupyterlab-pygments==0.3.0
pip install jupyterlab-server==2.27.2
pip install jupyterlab-widgets==3.0.11
pip install kiwisolver==1.4.5
pip install langchain==0.2.5
pip install langchain-community==0.2.5
pip install langchain-core==0.2.9
pip install langchain-openai==0.1.8
pip install langchain-text-splitters==0.2.1
pip install langsmith==0.1.81
pip install llama-index==0.10.43
pip install llama-index-agent-openai==0.2.7
pip install llama-index-cli==0.1.12
pip install llama-index-core==0.10.43
pip install llama-index-embeddings-ollama==0.1.2
pip install llama-index-embeddings-openai==0.1.10
pip install llama-index-indices-managed-llama-cloud==0.1.6
pip install llama-index-legacy==0.9.48
pip install llama-index-llms-ollama==0.1.5
pip install llama-index-llms-openai==0.1.22
pip install llama-index-multi-modal-llms-openai==0.1.6
pip install llama-index-packs-streamlit-chatbot==0.1.4
pip install llama-index-program-openai==0.1.6
pip install llama-index-question-gen-openai==0.1.3
pip install llama-index-readers-file==0.1.23
pip install llama-index-readers-json==0.1.5
pip install llama-index-readers-llama-parse==0.1.4
pip install llama-index-readers-papers==0.1.6
pip install llama-index-readers-web==0.1.23
pip install llama-index-readers-wikipedia==0.1.4
pip install llama-index-tools-google==0.1.6
pip install llama-index-tools-openapi==0.1.3
pip install llama-index-vector-stores-pinecone==0.1.7
pip install llama-index-vector-stores-qdrant==0.2.10
pip install llama-parse==0.4.4
pip install llamaindex-py-client==0.1.19
pip install lxml==5.2.2
pip install markdown-it-py==3.0.0
pip install markupsafe==2.1.5
pip install marshmallow==3.21.3
pip install matplotlib==3.9.1
pip install matplotlib-inline==0.1.7
pip install mdurl==0.1.2
pip install mistune==3.0.2
pip install multidict==6.0.5
pip install multiprocess==0.70.16
pip install mypy-extensions==1.0.0
pip install nbclient==0.10.0
pip install nbconvert==7.16.4
pip install nbformat==5.10.4
pip install neo4j==5.20.0
pip install nest-asyncio==1.6.0
pip install networkx==3.3
pip install newspaper3k==0.2.8
pip install nltk==3.8.1
pip install notebook==7.2.0
pip install notebook-shim==0.2.4
pip install numpy==1.26.4
pip install oauthlib==3.2.2
pip install openai==1.31.2
pip install orjson==3.10.5
pip install outcome==1.3.0.post0
pip install overrides==7.7.0
pip install packaging==24.0
pip install pandas==2.2.2
pip install pandocfilters==1.5.1
pip install parso==0.8.4
pip install pexpect==4.9.0
pip install pillow==10.3.0
pip install pinecone-client==3.2.2
pip install platformdirs==4.2.2
pip install playwright==1.45.1
pip install portalocker==2.8.2
pip install prometheus-client==0.20.0
pip install prompt-toolkit==3.0.45
pip install proto-plus==1.24.0
pip install protobuf==5.27.1
pip install psutil==5.9.8
pip install ptyprocess==0.7.0
pip install pure-eval==0.2.2
pip install pyarrow==16.1.0
pip install pyarrow-hotfix==0.6
pip install pyasn1==0.6.0
pip install pyasn1-modules==0.4.0
pip install pycparser==2.22
pip install pydantic==2.7.3
pip install pydantic-core==2.18.4
pip install pydeck==0.9.1
pip install pyee==11.1.0
pip install pygments==2.18.0
pip install pyparsing==3.1.2
pip install pypdf==4.2.0
pip install pysbd==0.3.4
pip install pysocks==1.7.1
pip install python-dateutil==2.9.0.post0
pip install python-json-logger==2.0.7
pip install pytz==2024.1
pip install pyyaml==6.0.1
pip install pyzmq==26.0.3
pip install qdrant-client==1.9.1
pip install qtconsole==5.5.2
pip install qtpy==2.4.1
pip install ragas==0.1.9
pip install referencing==0.35.1
pip install regex==2024.5.15
pip install requests==2.32.3
pip install requests-file==2.1.0
pip install requests-oauthlib==2.0.0
pip install rfc3339-validator==0.1.4
pip install rfc3986-validator==0.1.1
pip install rich==13.7.1
pip install rpds-py==0.18.1
pip install rsa==4.9
pip install scikit-learn==1.5.1
pip install scipy==1.14.0
pip install seaborn==0.13.2
pip install selenium==4.23.1
pip install send2trash==1.8.3
pip install sgmllib3k==1.0.0
pip install six==1.16.0
pip install smmap==5.0.1
pip install sniffio==1.3.1
pip install sortedcontainers==2.4.0
pip install soupsieve==2.5
pip install spider-client==0.0.27
pip install sqlalchemy==2.0.30
pip install stack-data==0.6.3
pip install streamlit==1.37.0
pip install streamlit-pills==0.3.0
pip install striprtf==0.0.26
pip install tenacity==8.3.0
pip install terminado==0.18.1
pip install threadpoolctl==3.5.0
pip install tiktoken==0.7.0
pip install tinycss2==1.3.0
pip install tinysegmenter==0.3
pip install tldextract==5.1.2
pip install toml==0.10.2
pip install toolz==0.12.1
pip install tornado==6.4
pip install tqdm==4.66.4
pip install traitlets==5.14.3
pip install trio==0.26.0
pip install trio-websocket==0.11.1
pip install types-python-dateutil==2.9.0.20240316
pip install typing-extensions==4.12.1
pip install typing-inspect==0.9.0
pip install tzdata==2024.1
pip install uri-template==1.3.0
pip install uritemplate==4.1.1
pip install urllib3==2.2.1
pip install watchdog==4.0.1
pip install wcwidth==0.2.13
pip install webcolors==1.13
pip install webencodings==0.5.1
pip install websocket-client==1.8.0
pip install widgetsnbextension==4.0.11
pip install wikipedia==1.4.0
pip install wrapt==1.16.0
pip install wsproto==1.2.0
pip install xxhash==3.4.1
pip install yarl==1.9.4
